/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 330px){
    html{
        width: 330px;
        overflow: auto;
    }
  }

.pagination ul {
    display: inline-flex;
}

.pagination ul li {
    margin-right: 20px;
}

.asideContent a {
    color: #000;
}

.asideContent li::marker {
    color: #000;
}
