---
import '../styles/base.css';
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body class="min-w-[220px]">
    <div class="min-w-[220px]">
      <div class="container navbar mx-auto flex-col md:flex md:flex-row">
        <div class="flex-col items-center">
          <div class="avatar text-4xl">
            James Snape
            <div class="ml-1 w-10 rounded-full">
              <img
                src="https://0.gravatar.com/avatar/02fea96f5230036b45dd2f7cc246ea88c679992e796997903ec5a7f3b7bff340?s=400&d=mm"
              />
            </div>
          </div>
          <p class="mt-2">DevOps - Solution Architecture</p>
        </div>
        <div class="flex md:ml-auto">
          <nav class="space-x-6 uppercase">
            <a class="link-hover link">Home</a>
            <a class="link-hover link">About</a>
            <a class="link-hover link">Resume</a>
          </nav>
          <div class="ml-6">
            <label class="swap swap-rotate">
              <!-- this hidden checkbox controls the state -->
              <input type="checkbox" class="theme-controller" value="light" />

              <!-- sun icon -->
              <svg
                class="swap-on h-5 w-5 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                ><path
                  d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"
                ></path></svg
              >

              <!-- moon icon -->
              <svg
                class="swap-off h-5 w-5 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                ><path
                  d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"
                ></path></svg
              >
            </label>
          </div>
        </div>
      </div>
    </div>

    <div
      class="hero"
      style="background-image: url(https://jamessnape.files.wordpress.com/2013/03/cropped-cropped-pierplate41.jpg);"    >
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="flex max-w-lg">
          <div>
            <p class="mt-2 text-5xl">
              Better software through architecture and devops
            </p>
            <a class="link-hover link" href="https://twitter.com/jamessnape"
              >@jamessnape<i class="fa-brands fa-twitter"></i></a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="m-2 grid gap-5 p-4 md:grid-cols-12">
      <main class="p-4 md:col-span-9">
        <h1 class="text-3xl">Home</h1>

        <article class="prose my-6">
          <h2 class="text-xl my-3">
            Tracking hours worked on a scrum task is counterproductive
          </h2>
          <div class="entry-content">
            <p>
              Right now I’m reading “<a
                href="http://www.amazon.co.uk/gp/product/B00AMZZQRK/ref=as_li_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=B00AMZZQRK&linkCode=as2&tag=jamessnape-21"
                >Agile Data Warehousing Project Management: Business
                Intelligence Systems Using Scrum</a
              >” which I can heartily recommend. This article is about one quote
              in particular:
            </p>
            <blockquote>
              <p>
                <span class="highlight"
                  >Unfortunately, tracking actual hours spent on the individual
                  tasks is ineffective, aims at the wrong objectives, and drowns
                  the developers in detail while undermining agile’s pillar of
                  self-organization that is so crucial to a team’s velocity.
                  Tracking actuals should be strongly discouraged.</span>
              </p>
            </blockquote>
            <p>
              I would go one step further and say tracking actuals can end up
              having a negative effect on your scrum project. Before I get into
              why its worth pointing out that for short periods of time it can
              be useful particularly if you need to gather data on where you are
              spending your time (see the second point below). Once you have the
              data though – stop recording.
            </p>
            <p>
              So why is tracking actuals so counterproductive? Primarily because
              it subverts the iterative estimation method.
            </p>
            <p>
              One of the key activities in a scrum process is to update the
              remaining time estimate every day. From this estimate a burn down
              is calculated and the burn down is then used to monitor and adjust
              the sprint in order to deliver.
            </p>
            <p>
              Consider what happens when scrum team members are logging the
              amount of time they worked on a task. Simple maths tells the
              remaining time is the current estimate minus the hours worked so
              there is a temptation to skip the re-estimating step. As a result
              a sprint burns down at a constant rate (ignoring task completion
              as a backup progress indicator) and inevitably it is not until the
              end of the sprint that underestimation is discovered; too late to
              do anything about it.
            </p>
            <p>
              This second point can be good or bad depending on management and
              team culture – if you log time correctly and in detail you will
              know where you are spending time including interruptions,
              meetings, etc. There are two types of response from the team:
            </p>
            <ol class="list-decimal ml-5">
              <li>
                Look at all this waste activity we are doing – how can we remove
                it and spend more time on value add work?
              </li>
              <li>
                How can I possibly deliver on my sprint commitments – look at
                the other work I had to do during the sprint.
              </li>
            </ol>
            <p>Obviously you want the first response.</p>
            <p>
              Finally, overshooting sprints is something to be avoided but often
              there are additional constraints on time logging that cause you to
              miss estimate future sprints as well. I know of many organisations
              where team members are required to log a fixed number of hours a
              day; no more, no less. You can imagine the havoc this causes – if
              you work 5 or 15 hours during one day on a task but have to log 8
              then you create an inaccurate data set from which to base future
              sprint planning on.
            </p>
          </div>
		</article>
		<article class="prose my-6">
		<h2 class="text-xl my-3">Article 2</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum
			voluptas saepe sit qui, veniam, distinctio quos suscipit provident
			dolorum tempore officia eaque, delectus reiciendis. Ad odio quam
			ullam nostrum nisi.
		</p>
		</article>
      </main>
	  <aside class="p-2 md:col-span-3 md:pt-0 border-lime-500">
		<div class="space-x-6 my-5 uppercase">Recent Posts</div>
		<ul>
		  <li>Tracking hours worked on a scrum task is counterproductive</li>
		  <li>Interesting Links #4</li>
		  <li>Interesting Links #3</li>
		  <li>Taking on dependencies with Deeply</li>
		  <li>Interesting Links #2</li>
		</ul>
		<div class="space-x-6 my-5 uppercase">Archives</div>
		<ul>
		  <li>September 2014</li>
		  <li>July 2014</li>
		  <li>April 2014</li>
		  <li>February 2014</li>
		  <li>January 2014</li>
		  <li>October 2013</li>
		  <li>September 2013</li>
		  <li>July 2013</li>
		  <li>June 2013</li>
		  <li>May 2013</li>
		  <li>April 2013</li>
		  <li>March 2013</li>
		  <li>February 2010</li>
		  <li>June 2009</li>
		  <li>April 2009</li>
		  <li>March 2009</li>
		  <li>December 2008</li>
		  <li>June 2007</li>
		  <li>November 2006</li>
		  <li>February 2005</li>
		  <li>January 2005</li>
		  <li>September 2004</li>
		  <li>August 2004</li>
		  <li>July 2004</li>
		  <li>June 2004</li>
		</ul>

		<div class="space-x-6 my-5 uppercase">Categories</div>
		<ul>
		  <li>Agile</li>
		  <li>Business</li>
		  <li>Business Intelligence</li>
		  <li>Data Visualization</li>
		  <li>Data Warehousing</li>
		  <li>Reference</li>
		  <li>Sample Solution</li>
		  <li>Software Testing</li>
		  <li>Solution Architecture</li>
		</ul>

		<div class="space-x-6 my-5 uppercase">Tags</div>
		<ul class="inline-block">
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/apache-hadoop/"
			  class="tag-link-5665468 tag-link-position-1"
			  style="font-size: 15.636363636364pt;"
			  aria-label="Apache Hadoop (3 items)">Apache Hadoop</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/architecture/"
			  class="tag-link-2290 tag-link-position-2"
			  style="font-size: 12.581818181818pt;"
			  aria-label="architecture (2 items)">architecture</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/batch/"
			  class="tag-link-202726 tag-link-position-3"
			  style="font-size: 8pt;"
			  aria-label="batch (1 item)">batch</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/batch-processing/"
			  class="tag-link-4152916 tag-link-position-4"
			  style="font-size: 8pt;"
			  aria-label="Batch processing (1 item)">Batch processing</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/batch-systems/"
			  class="tag-link-34280017 tag-link-position-5"
			  style="font-size: 8pt;"
			  aria-label="batch systems (1 item)">batch systems</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/bdd/"
			  class="tag-link-75400 tag-link-position-6"
			  style="font-size: 8pt;"
			  aria-label="BDD (1 item)">BDD</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/book-review/"
			  class="tag-link-7215 tag-link-position-7"
			  style="font-size: 8pt;"
			  aria-label="book-review (1 item)">book-review</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/build/"
			  class="tag-link-21447 tag-link-position-8"
			  style="font-size: 8pt;"
			  aria-label="build (1 item)">build</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/build-automation/"
			  class="tag-link-4183965 tag-link-position-9"
			  style="font-size: 8pt;"
			  aria-label="Build automation (1 item)">Build automation</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/build-management/"
			  class="tag-link-452773 tag-link-position-10"
			  style="font-size: 8pt;"
			  aria-label="Build Management (1 item)">Build Management</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/business-intelligence-2/"
			  class="tag-link-35014679 tag-link-position-11"
			  style="font-size: 18.181818181818pt;"
			  aria-label="Business intelligence (4 items)"
			  >Business intelligence</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/c/"
			  class="tag-link-2426 tag-link-position-12"
			  style="font-size: 8pt;"
			  aria-label="C# (1 item)">C#</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/child-and-adolescent-psychiatry/"
			  class="tag-link-36685778 tag-link-position-13"
			  style="font-size: 8pt;"
			  aria-label="Child and adolescent psychiatry (1 item)"
			  >Child and adolescent psychiatry</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/ci/"
			  class="tag-link-39104 tag-link-position-14"
			  style="font-size: 8pt;"
			  aria-label="CI (1 item)">CI</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/code/"
			  class="tag-link-656 tag-link-position-15"
			  style="font-size: 8pt;"
			  aria-label="code (1 item)">code</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/conference/"
			  class="tag-link-33525 tag-link-position-16"
			  style="font-size: 8pt;"
			  aria-label="conference (1 item)">conference</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/continuous-integration/"
			  class="tag-link-163615 tag-link-position-17"
			  style="font-size: 8pt;"
			  aria-label="continuous integration (1 item)"
			  >continuous integration</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/daily-standup/"
			  class="tag-link-12569342 tag-link-position-18"
			  style="font-size: 8pt;"
			  aria-label="daily-standup (1 item)">daily-standup</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/dataflow/"
			  class="tag-link-807185 tag-link-position-19"
			  style="font-size: 8pt;"
			  aria-label="Dataflow (1 item)">Dataflow</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/data-transformation-services/"
			  class="tag-link-93506 tag-link-position-20"
			  style="font-size: 8pt;"
			  aria-label="data transformation services (1 item)"
			  >data transformation services</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/data-visualization-2/"
			  class="tag-link-35184900 tag-link-position-21"
			  style="font-size: 12.581818181818pt;"
			  aria-label="Data visualization (2 items)">Data visualization</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/data-warehouse/"
			  class="tag-link-1588 tag-link-position-22"
			  style="font-size: 18.181818181818pt;"
			  aria-label="Data warehouse (4 items)">Data warehouse</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/death-march/"
			  class="tag-link-1145844 tag-link-position-23"
			  style="font-size: 8pt;"
			  aria-label="death-march (1 item)">death-march</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/deeply/"
			  class="tag-link-586630 tag-link-position-24"
			  style="font-size: 12.581818181818pt;"
			  aria-label="deeply (2 items)">deeply</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/deployment/"
			  class="tag-link-8915 tag-link-position-25"
			  style="font-size: 12.581818181818pt;"
			  aria-label="deployment (2 items)">deployment</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/dimensional-model/"
			  class="tag-link-321570 tag-link-position-26"
			  style="font-size: 18.181818181818pt;"
			  aria-label="dimensional model (4 items)">dimensional model</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/domain-driven-design/"
			  class="tag-link-172804 tag-link-position-27"
			  style="font-size: 15.636363636364pt;"
			  aria-label="Domain Driven Design (3 items)"
			  >Domain Driven Design</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/etl/"
			  class="tag-link-223321 tag-link-position-28"
			  style="font-size: 12.581818181818pt;"
			  aria-label="etl (2 items)">etl</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/excel/"
			  class="tag-link-25398 tag-link-position-29"
			  style="font-size: 12.581818181818pt;"
			  aria-label="Excel (2 items)">Excel</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/executive/"
			  class="tag-link-53796 tag-link-position-30"
			  style="font-size: 8pt;"
			  aria-label="executive (1 item)">executive</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/f/"
			  class="tag-link-6012 tag-link-position-31"
			  style="font-size: 8pt;"
			  aria-label="F# (1 item)">F#</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/fitnesse/"
			  class="tag-link-2070427 tag-link-position-32"
			  style="font-size: 8pt;"
			  aria-label="FitNesse (1 item)">FitNesse</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/functional/"
			  class="tag-link-188921 tag-link-position-33"
			  style="font-size: 8pt;"
			  aria-label="functional (1 item)">functional</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/github/"
			  class="tag-link-5603054 tag-link-position-34"
			  style="font-size: 8pt;"
			  aria-label="github (1 item)">github</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/hans-rosling/"
			  class="tag-link-561459 tag-link-position-35"
			  style="font-size: 8pt;"
			  aria-label="hans-rosling (1 item)">hans-rosling</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/indexes/"
			  class="tag-link-246699 tag-link-position-36"
			  style="font-size: 8pt;"
			  aria-label="indexes (1 item)">indexes</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/integration-services/"
			  class="tag-link-165783 tag-link-position-37"
			  style="font-size: 8pt;"
			  aria-label="Integration Services (1 item)"
			  >Integration Services</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/linq/"
			  class="tag-link-114227 tag-link-position-38"
			  style="font-size: 8pt;"
			  aria-label="linq (1 item)">linq</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/marketing/"
			  class="tag-link-175 tag-link-position-39"
			  style="font-size: 8pt;"
			  aria-label="marketing (1 item)">marketing</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/mental-health/"
			  class="tag-link-5004 tag-link-position-40"
			  style="font-size: 20.218181818182pt;"
			  aria-label="mental-health (5 items)">mental-health</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/mental-health-project/"
			  class="tag-link-17692729 tag-link-position-41"
			  style="font-size: 22pt;"
			  aria-label="mental-health-project (6 items)"
			  >mental-health-project</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/microsoft/"
			  class="tag-link-637 tag-link-position-42"
			  style="font-size: 8pt;"
			  aria-label="Microsoft (1 item)">Microsoft</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/microsoft-excel/"
			  class="tag-link-4834 tag-link-position-43"
			  style="font-size: 12.581818181818pt;"
			  aria-label="Microsoft Excel (2 items)">Microsoft Excel</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/naming-conventions/"
			  class="tag-link-1169428 tag-link-position-44"
			  style="font-size: 8pt;"
			  aria-label="naming conventions (1 item)">naming conventions</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/nuget/"
			  class="tag-link-21555412 tag-link-position-45"
			  style="font-size: 12.581818181818pt;"
			  aria-label="nuget (2 items)">nuget</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/organisational-behaviour/"
			  class="tag-link-314814 tag-link-position-46"
			  style="font-size: 8pt;"
			  aria-label="organisational-behaviour (1 item)"
			  >organisational-behaviour</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/personal-development/"
			  class="tag-link-19129 tag-link-position-47"
			  style="font-size: 18.181818181818pt;"
			  aria-label="personal-development (4 items)"
			  >personal-development</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/powershell/"
			  class="tag-link-178495 tag-link-position-48"
			  style="font-size: 8pt;"
			  aria-label="Powershell (1 item)">Powershell</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/presentation/"
			  class="tag-link-9402 tag-link-position-49"
			  style="font-size: 12.581818181818pt;"
			  aria-label="presentation (2 items)">presentation</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/quality/"
			  class="tag-link-16525 tag-link-position-50"
			  style="font-size: 8pt;"
			  aria-label="quality (1 item)">quality</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/requirements/"
			  class="tag-link-16577 tag-link-position-51"
			  style="font-size: 12.581818181818pt;"
			  aria-label="requirements (2 items)">requirements</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/risk/"
			  class="tag-link-37372 tag-link-position-52"
			  style="font-size: 8pt;"
			  aria-label="risk (1 item)">risk</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/scrum/"
			  class="tag-link-46805 tag-link-position-53"
			  style="font-size: 18.181818181818pt;"
			  aria-label="scrum (4 items)">scrum</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/scrum-master/"
			  class="tag-link-1343934 tag-link-position-54"
			  style="font-size: 8pt;"
			  aria-label="scrum-master (1 item)">scrum-master</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/software-process/"
			  class="tag-link-218351 tag-link-position-55"
			  style="font-size: 8pt;"
			  aria-label="software-process (1 item)">software-process</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/source-data/"
			  class="tag-link-4050516 tag-link-position-56"
			  style="font-size: 8pt;"
			  aria-label="Source data (1 item)">Source data</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/specflow/"
			  class="tag-link-32957006 tag-link-position-57"
			  style="font-size: 8pt;"
			  aria-label="specflow (1 item)">specflow</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/sprint-review/"
			  class="tag-link-15947465 tag-link-position-58"
			  style="font-size: 8pt;"
			  aria-label="sprint-review (1 item)">sprint-review</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/sql/"
			  class="tag-link-10346 tag-link-position-59"
			  style="font-size: 8pt;"
			  aria-label="sql (1 item)">sql</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/sql-server/"
			  class="tag-link-6407 tag-link-position-60"
			  style="font-size: 15.636363636364pt;"
			  aria-label="SQL Server (3 items)">SQL Server</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/sql-server-developers/"
			  class="tag-link-7516036 tag-link-position-61"
			  style="font-size: 8pt;"
			  aria-label="sql server developers (1 item)"
			  >sql server developers</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/sql-server-integration-services/"
			  class="tag-link-273777 tag-link-position-62"
			  style="font-size: 15.636363636364pt;"
			  aria-label="SQL Server Integration Services (3 items)"
			  >SQL Server Integration Services</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/ssis/"
			  class="tag-link-106112 tag-link-position-63"
			  style="font-size: 18.181818181818pt;"
			  aria-label="SSIS (4 items)">SSIS</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/stakeholder/"
			  class="tag-link-193029 tag-link-position-64"
			  style="font-size: 15.636363636364pt;"
			  aria-label="stakeholder (3 items)">stakeholder</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/stakeholder-concerns/"
			  class="tag-link-53832767 tag-link-position-65"
			  style="font-size: 8pt;"
			  aria-label="stakeholder concerns (1 item)"
			  >stakeholder concerns</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/stakeholders/"
			  class="tag-link-533329 tag-link-position-66"
			  style="font-size: 15.636363636364pt;"
			  aria-label="stakeholders (3 items)">stakeholders</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/strategy/"
			  class="tag-link-8553 tag-link-position-67"
			  style="font-size: 8pt;"
			  aria-label="strategy (1 item)">strategy</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/surgical-teams/"
			  class="tag-link-47829113 tag-link-position-68"
			  style="font-size: 8pt;"
			  aria-label="surgical-teams (1 item)">surgical-teams</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/surrogate-key/"
			  class="tag-link-5921289 tag-link-position-69"
			  style="font-size: 8pt;"
			  aria-label="surrogate key (1 item)">surrogate key</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/tableau/"
			  class="tag-link-852300 tag-link-position-70"
			  style="font-size: 20.218181818182pt;"
			  aria-label="Tableau (5 items)">Tableau</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/tableau-customer-conference/"
			  class="tag-link-90254951 tag-link-position-71"
			  style="font-size: 8pt;"
			  aria-label="Tableau Customer Conference (1 item)"
			  >Tableau Customer Conference</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/testing/"
			  class="tag-link-12 tag-link-position-72"
			  style="font-size: 18.181818181818pt;"
			  aria-label="testing (4 items)">testing</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/transactions/"
			  class="tag-link-15346 tag-link-position-73"
			  style="font-size: 8pt;"
			  aria-label="transactions (1 item)">transactions</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/ubiquitous-language/"
			  class="tag-link-4141468 tag-link-position-74"
			  style="font-size: 8pt;"
			  aria-label="ubiquitous language (1 item)"
			  >ubiquitous language</a>
		  </li>
		  <li class="inline-block">
			<a
			  href="https://snape.me/tag/user-story/"
			  class="tag-link-4077209 tag-link-position-75"
			  style="font-size: 8pt;"
			  aria-label="user-story (1 item)">user-story</a>
		  </li>
		</ul>
	  </aside>
	</div>
      <footer class="footer p-10 bg-base-200 text-base-content">
        <aside>
          <p>Copyright © 2024<br />All rights reserved by James Snape</p>
        </aside>
        <nav>
          <header class="footer-title">Services</header>
          <a class="link link-hover">Architecture</a>
          <a class="link link-hover">Development</a>
          <a class="link link-hover">DevOps</a>
        </nav>
        <nav>
          <header class="footer-title">About Me</header>
          <a class="link link-hover">Contact</a>
          <a class="link link-hover">Jobs</a>
        </nav>
        <nav>
          <header class="footer-title">Legal</header>
          <a class="link link-hover">Terms of use</a>
          <a class="link link-hover">Privacy policy</a>
          <a class="link link-hover">Cookie policy</a>
        </nav>
      </footer>
  </body>
</html>
