---
import NoSidebarLayout from "@/layouts/NoSidebarLayout.astro";
import { getCollection } from "astro:content";
import ExperienceEntry from "@components/ExperienceEntry.astro";
import { sortExperience } from "@/functions";

const experience = await
	getCollection('experience')
	.then(sortExperience);

const pageTitle = "Experience";
---

<NoSidebarLayout pageTitle={pageTitle}>
	<div class="text-right">
		<a href="/cv" target="_blank" rel="noopener noreferrer" title="opens a plan version you can print to pdf using your browser" class="underline">printable version</a>
	</div>
	<div class="">
		<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
			{!experience.length && 'No experience found.'}
			{experience.map((exp, index) => <li><ExperienceEntry experience={exp} index={index}/></li>)}
		</ul>
	</div>
</NoSidebarLayout>
