---
import SidebarLayout from "@/layouts/SidebarLayout.astro";
import { getCollection } from "astro:content";
import BlogPostCard from "@/components/BlogPostCard.astro";
import { excludeDrafts, sortBlogPosts } from "@/functions";
import { Image } from "astro:assets";
import defaultImage from '@/assets/bournemouth-river-stour.jpg';
import { HOME_PAGE_TITLE, RECENT_POSTS_COUNT } from "@/consts";

const posts = await getCollection("posts", excludeDrafts).then(sortBlogPosts);
---

<SidebarLayout pageTitle={HOME_PAGE_TITLE}>
  <div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8">
    {!posts.length && "No posts found."}
    {
      posts.slice(0, RECENT_POSTS_COUNT).map((post) => (
          <BlogPostCard post={post} />
      ))
    }
	<div>
		<a href="/posts" class="flex h-52">
			<Image
			  class="w-full h-full object-cover rounded-sm overflow-hidden"
			  width={400}
			  height={200}
			  src={defaultImage}
			  alt="Bournemouth River Stour"
			/>
		  </a>		
		  <div class="flex items-center justify-between">
			&nbsp;
		  </div>		  
		<a href="/posts" class="group-hover:underline">
			<h2
			  class="font-heading text-xl leading-snug line-clamp-3">
			  More posts >>>
			</h2>
		  </a>
	</div>
  </div>
</SidebarLayout>
