<div class="space-x-6 my-5 uppercase">Archives</div>
<ul>
  <li>September 2014</li>
  <li>July 2014</li>
  <li>April 2014</li>
  <li>February 2014</li>
  <li>January 2014</li>
  <li>October 2013</li>
  <li>September 2013</li>
  <li>July 2013</li>
  <li>June 2013</li>
  <li>May 2013</li>
  <li>April 2013</li>
  <li>March 2013</li>
  <li>February 2010</li>
  <li>June 2009</li>
  <li>April 2009</li>
  <li>March 2009</li>
  <li>December 2008</li>
  <li>June 2007</li>
  <li>November 2006</li>
  <li>February 2005</li>
  <li>January 2005</li>
  <li>September 2004</li>
  <li>August 2004</li>
  <li>July 2004</li>
  <li>June 2004</li>
</ul>