---
import BlogListItem from "./BlogListItem.astro";
import { getCollection } from "astro:content";
import {excludeDrafts } from "@/functions";

const posts = await getCollection("posts", excludeDrafts);

const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

const dates = [...new Set(posts.flatMap((p) => {
        const date = p.data.postDate;
        const year = date.getFullYear();
        const month = date.getMonth(); // no need to add 1 here, because getMonth() is zero-based
        return new Date(year, month, 1).toISOString(); // returns a date object representing the first day of the month
    }))].map(dateStr => new Date(dateStr));

const months = dates.flatMap((d) => {
    return {
        year: d.getFullYear(),
        month: d.getMonth() < 10 ? '0' + (1 + d.getMonth()) : (1 + d.getMonth()),
        title: (monthNames[d.getMonth()] + " " + d.getFullYear()),
        sortable: d.getFullYear() * 100 + d.getMonth()
    }
}).sort((a, b) => {
    return b.sortable - a.sortable;
});    

---
<div class="space-x-6 my-5 uppercase">Archives</div>
<ul>
{months.map((d) =>
    <span><BlogListItem url={`/${d.year}/${d.month}/1`} title={d.title} /></span>  
)}
</ul>
