<div class="space-x-6 my-5 uppercase">Categories</div>
<ul>
  <li>Agile</li>
  <li>Business</li>
  <li>Business Intelligence</li>
  <li>Data Visualization</li>
  <li>Data Warehousing</li>
  <li>Reference</li>
  <li>Sample Solution</li>
  <li>Software Testing</li>
  <li>Solution Architecture</li>
</ul>