---
import BlogListItem from "./BlogListItem.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const categories = [...new Set(posts.flatMap((p) => p.data.categories))].sort();

---
<div class="space-x-6 my-5 uppercase">Categories</div>
<ul>
{categories.map((cat:string) =>
    <span><BlogListItem url={`/category/${cat}`} title={cat} /></span>  
)}
</ul>