<div class="hero" style="background-image: url(https://jamessnape.files.wordpress.com/2013/03/cropped-cropped-pierplate41.jpg);">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="flex max-w-lg">
            <div>
                <p class="mt-2 text-5xl">
                    Better software through architecture and devops
                </p>
                <a class="link-hover link" href="https://twitter.com/jamessnape">@jamessnape <i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
