<nav class="space-x-6 uppercase">
    <a class="link-hover link" href="/">Home</a>
    <a class="link-hover link" href="/posts/">Posts</a>
    <a class="link-hover link" href="/about/">About</a>
    <a class="link-hover link" href="/experience/">Experience</a>
</nav>
