<div class="space-x-6 my-5 uppercase">Recent Posts</div>
<ul>
  <li>Tracking hours worked on a scrum task is counterproductive</li>
  <li>Interesting Links #4</li>
  <li>Interesting Links #3</li>
  <li>Taking on dependencies with Deeply</li>
  <li>Interesting Links #2</li>
</ul>