---
import Header from '@/components/Header.astro';
import Hero from '@/components/Hero.astro';
import Footer from '@/components/Footer.astro';
import '../styles/base.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap"
      rel="stylesheet"
    />
    <title>{pageTitle}</title>
  </head>
  <body class="min-w-[220px]">
    <div class="flex flex-col min-h-screen">    
      <div class="sticky z-50 top-0 backdrop-filter backdrop-blur-xl bg-opacity-60">
        <Header />
      </div>
      <div class="flex-grow">
        <Hero />
        <slot />
        <Footer />
      </div>
    </div>        
  </body>
</html>